#
# usage: pip install --user --upgrade -r requirements.txt
#
Pygments
PyYAML
cmake-init>=0.41.1
cmake>=4.3
codespell>=2.4.1
gcovr>=8.6
gersemi>=0.22.7
jinja2>=3.1.3
ninja>=1.13.0
yamllint
builddriver
pre-commit
